<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArmoireV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArmoireV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ArmoireV3Entities" connectionString="metadata=res://*/Entities.ModelArmoireV3.csdl|res://*/Entities.ModelArmoireV3.ssdl|res://*/Entities.ModelArmoireV3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=armoire;password=$$armoire;Persist Security Info=True;database=rototo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <ArmoireV3.Properties.Settings>
      <setting name="PuissanceAntenneArmoire" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="PuissanceAntenneRestitution" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ReadingTimeArmoire" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="ReadingTimeRestitution" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UseRail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InPorteGauche" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RestituionReader" serializeAs="String">
        <value />
      </setting>
      <setting name="RailIsMisumi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="COM_RFIDreader" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="UseSynchro" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StringConnectSynchro" serializeAs="String">
        <value>SERVER=87.98.143.63;PORT=3307;DATABASE=ATELIER1;UID=armoire;PASSWORD=$$armoire</value>
      </setting>
      <setting name="StringConnectAlert" serializeAs="String">
        <value>SERVER=twisterdev;PORT=3306;DATABASE=sendmail;UID=armoire;PASSWORD=$$armoire</value>
      </setting>
      <setting name="StringConnectLocale" serializeAs="String">
        <value>SERVER=twisterdev;PORT=3306;DATABASE=armoirev3;UID=armoire;PASSWORD=$$armoire</value>
      </setting>
      <setting name="UseDBGMSG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BDDsynchV3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSynchroTimer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="COMrail" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="InPorteDroite" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="NumArmoire" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COMled_portes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SpeedWayReaderConnectionString" serializeAs="String">
        <value>192.168.1.67</value>
      </setting>
    </ArmoireV3.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ArmoireV3.Properties.Settings>
      <setting name="OldExcitron" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WriteLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Emplacement" serializeAs="String">
        <value>salle dev codingfrance</value>
      </setting>
      <setting name="VersMateriel" serializeAs="String">
        <value>En carton</value>
      </setting>
      <setting name="SSHDestinataire" serializeAs="String">
        <value>AUTRE</value>
      </setting>
      <setting name="MaxTimeByPhase" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="DureePorteOuverte" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DureeAbandon" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LimitationJour" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RailIsCoding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReglesDeChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HeureLimJour" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RecreditHebdo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumJourRecreditHebdo" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="HeureRecreditHebdo" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MaxRetraitJour" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TempsPourUnCycleRail" serializeAs="String">
        <value>3</value>
      </setting>
    </ArmoireV3.Properties.Settings>
  </userSettings>
</configuration>